*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
}
img{
    border-radius: 10px;
}
.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content{
    padding: 10px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    position: relative;
}
.box{
    width: 100%;
    background: #4060dd;
    border-radius: 30px;
    margin: 5px 0px;
    font-size: 20px;
    line-height: 120%;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.2s ease;
}
.user-list .box:hover{
    background: #5875e7;
    transform: scale(1.1);
    box-shadow: rgba(1, 0, 0, 0.56) 0px 22px 70px 4px;
}
.user{
    cursor: pointer;
}
.header_content {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding: 15px 20px;
   box-sizing: border-box;
}
.header_content_changed{
   justify-content: space-between;
}
.bigPhoto{
    width: 100%;
    object-fit:cover;
    height: 700px;
    object-position: center;
    cursor: pointer;
}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile img{
    margin-left: 20px;
}
.list{
    display: flex;
    align-content: space-around;
    align-items: center;
    padding: 10px 40px;
    box-sizing: border-box;
    justify-content: space-between;
}
.user-list{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.pagination{
    margin: 15px 0px 15px 0px;
    font-size: 20px;
    width: 27%;
    display: flex;
    justify-content: space-between;
}
.hide{
    display: none;
}
.numPage_blue{
    border-bottom: 1px solid blue;
}
.numPage{
    cursor: pointer;
}
.numPage:hover{
    border-bottom: 1px solid blue;
}
.arrow{
    width: 13px;
    height: 13px;
    border-top: 13px solid black;
    border-right: 13px solid black;
    cursor: pointer;
}
.arrow-right {
    transform: rotate(45deg);
}
.arrow-left {
    transform: rotate(-135deg);
}
.arrow-right:hover,.arrow-left:hover{
    border-color: blue;
}


@media (max-width: 879px){
    .box{
        font-size: 35px;
    }
}